@font-face {
  font-family: "iconfont"; /* Project id 2882018 */
  src: url('iconfont.woff2?t=1634821939852') format('woff2'),
       url('iconfont.woff?t=1634821939852') format('woff'),
       url('iconfont.ttf?t=1634821939852') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-fenlei:before {
  content: "\e62f";
}

